$red: #931621;
$indigo: #28464B;
$green: #34971b;
$yellow: #cbdb2f;
$dgreen: #08470c;
$turquoise: #41ead4;
$pink: #ff206e;
$yellow: #fbff12;

$black: #0c0f0a;
$dgrey: #232828;
$grey: #444D4F;
$lgrey: #9EAFB2;
$llgrey: #DEE2E2;

/* aliases */
$text: $dgrey;
$text-light: #fff;
$error: $red;
$primary: $indigo;
$secondary: $green;
$highlight-bg: $yellow;
$clickable: $red;
$clickable-hover: lighten($red, 20%);