// use in button elements to reset styles before adding your own.
@mixin button-reset {
  background-image: none;
  background-color: transparent;
  border-radius: none;
  box-shadow: none;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

// for centered elements with a max-width, see codepen for example. https://codepen.io/bdnorris/pen/ydeMgj
@mixin default-sizing($max) {
  margin-left: $mobile-margin;
  margin-right: $mobile-margin;
  max-width: $max;
  @include breakpoint(large) {
    margin-left: $desktop-margin;
    margin-right: $desktop-margin;
  }
  @include breakpoint ($max up) {
    margin-left: auto;
    margin-right: auto;
    padding-left: $desktop-margin;
    padding-right: $desktop-margin;
  }
}

// https://css-tricks.com/snippets/sass/px-to-em-functions/
// Use Ems, but no math to do when working from design programs
@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

@mixin visually-hidden {
  // accessible hide
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}